@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-sans;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bg-gradient-diagonal {
  background-image: linear-gradient(to bottom right, #d1d5db, #082f49);
}

.strong-shadow {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.33);
}

.chart-container {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}
